{{ form_start(form) }}
<input type="hidden" name="vote[author]" value="{{ app.user.username }}">

{{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
