{% extends 'base.html.twig' %}

{% block title %}Vote index{% endblock %}

{% block body %}
    <h1>Proposed polls</h1>
    <p>Potential polls for the future which can be made active by showing your support!</p>

    <table class="table">
        {#<thead>#}
        {#<tr>#}
            {#<th>Id</th>#}
            {#<th>Title</th>#}
            {#<th>Description</th>#}
            {#<th>Image</th>#}
            {#<th>ForCount</th>#}
            {#<th>AgainstCount</th>#}
            {#<th>DateCreated</th>#}
            {#<th>State</th>#}
            {#<th>actions</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for vote in votes %}#}
            {#{% if vote.state == 0 %}#}
                {#<tr>#}
                    {#<td>{{ vote.id }}</td>#}
                    {#<td>{{ vote.title }}</td>#}
                    {#<td>{{ vote.description }}</td>#}
                    {#<td>{{ vote.image }}</td>#}
                    {#<td>{{ vote.forCount }}</td>#}
                    {#<td>{{ vote.againstCount }}</td>#}
                    {#<td>{{ vote.dateCreated ? vote.dateCreated|date('Y-m-d H:i:s') : '' }}</td>#}
                    {#<td>{{ vote.state }}</td>#}
                    {#<td>#}
                        {#<a href="{{ path('vote_show', {'id': vote.id}) }}">SHOW</a>#}
                        {#<a href="{{ path('vote_edit', {'id': vote.id}) }}">EDIT</a>#}
                    {#</td>#}
                {#</tr>#}
                <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    {% for vote in votes %}
                    {% if vote.supporters < 50 %}
                    <div class="shadow p-3 mb-5 bg-light rounded">
                        <div class="card">
                           {% if vote.image is not null %}
                            <img class="card-img-left" src="{{ vote.image }}" alt="Card image cap" style="">
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ vote.title }}</h4>
                                <p class="card-text">
                                    {{ vote.description }}
                                </p>
                                <a href="{{ url('vote_show',{'id': vote.id} ) }}" class="btn btn-primary">View Proposition</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-3">
                    <a href="{{ path('vote_new') }}" class="btn btn-lg btn-primary">CREATE NEW</a>

                </div>
                </div>
            {#{% endif %}#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="9">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    </table>


{% endblock %}
