<style>
    @import "css/nav.css";
</style>

<nav class="navbar navbar-expand-lg navbar-dark red">
    <a class="navbar-brand" href="{{ url('default_index') }}"><img src="images/logo.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="margin-left:30px;">
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with 'default_index' %}active{% endif %}" href="{{ url('default_index') }}">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with 'upcoming_' %}active{% endif %}" href="#">PROPOSITIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.attributes.get('_route') starts with 'poll_' %}active{% endif %}" href="#">VOTES</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin' %}active{% endif %}" href="{{ '/admin' }}" >ADMIN</a>
                </li>
            {% endif %}
            {% if not is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') starts with 'login' %}active{% endif %}" href="{{ url('app_login') }}" >LOGIN</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') starts with 'logout' %}active{% endif %}" href="{{ url('app_logout') }}" >LOGOUT</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>