{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <h1>Vote</h1>

    {#<table class="table">#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ vote.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Title</th>#}
                {#<td>{{ vote.title }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Description</th>#}
                {#<td>{{ vote.description }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Image</th>#}
                {#<td>{{ vote.image }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>ForCount</th>#}
                {#<td>{{ vote.forCount }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>AgainstCount</th>#}
                {#<td>{{ vote.againstCount }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>DateCreated</th>#}
                {#<td>{{ vote.dateCreated ? vote.dateCreated|date('Y-m-d H:i:s') : '' }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>State</th>#}
                {#<td>{{ vote.state }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <!-- Content -->
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            {% if vote.image is not null %}
                            <img class="card-img-top" src="{{ vote.image }}" alt="Vote image" style="max-height: 1000px;">
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ vote.title }}</h4>
                                <p class="text-muted">Vote proposed by {{ user }}</p>
                                <p class="card-text">
                                    {{ vote.description }}
                                </p>
                                <span class="badge ">Current supporters: {{ vote.supporters }}/50</span><br>
                                <a href="#!" class="btn btn-primary">Support proposition {{ vote.id }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ path('vote_index') }}">BACK TO LIST</a>
                        <BR>
                        <a href="{{ path('vote_edit', {'id': vote.id}) }}">EDIT</a>
                        {{ include('vote/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
